@media only screen and (max-width: 990px){
    .login-left-img{
        display: none;
    }   

    .login-left-img-mobile{
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        width: 54%;
        z-index: -1;
    }

    .login-btm-right-img{
        width: 40%;
    }

    .login-content-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        /* position: relative; */
    }

    .right-input-wrapper{
        padding:25px 50px;
        /* background-color: red;     */
    }

    .right-input-fields-wrapper{
    padding: 20px;
}

    .login-input-container .input-option-tab > div{
        padding: 10px 40px;
        background-color: #fff;
        width: 50%;
        text-align: center;
    }
    
    .em-selected >div:nth-child(2){
        color: #000;
    }

    .login-input-container .input-option-tab .login-tab-active,.em-selected{
        background-color: #6A52FD;
        color: #fff;
        width: 50%;
    }

    .login-input-wrapper input{
        border: 1px solid #535353;
        border-radius: 50px;
        outline: none;
        padding: 10px 40px;
        min-width: 200px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
    .forgot-pword{
        align-self: flex-end;
        color: #6A52FD;
        margin-bottom: 50px;
    }

    .login-input-form button{
        background-color: #7B61FF;
        border-radius: 50px;
        border: 1px solid #7B61FF;
        padding: 19px;
        color: #fff;
        outline: none;
        margin-bottom: 18px;
        width: 50%;
        align-self: center;
    }
}

@media only screen and (max-width: 990px){
    .login-input-wrapper input {
        width: 100%;
    }
    .login-input-wrapper .login-input {
        min-width: auto;
    } 
    .login-input-container .input-option-tab {
        width: 90%;
    }
}