.user-content-section-container .profile-user-content-tab-control{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-between; */
    align-items: baseline;
    margin-bottom: 10px;
    cursor: pointer;
    color: #9E9E9E;
    margin-bottom:40px;
    /* background-color: red; */
    gap: 20px;
}

.profile-user-content-tab-active{
    background-color: #6A52FD;
    color: #fff;
    padding: 10px 40px;
    margin-right: 10%;
    border-radius: 50px;
}

.profile-user-content-tab-active:last-child{
    margin-right: 0%;
}