.footer-container{
    background-color: #6A52FD;
    padding: 20px 50px;
    color: #fff;
}
.footer-signup-btn{
    background-color: #FD52AB;
    color: #fff;
    ;
}
.footer-link-socials{
    display: flex;
    gap: 50px;
    justify-content: center;
    text-align: left;
}
.footer-item-one{
    display: flex;
    gap: 200px;
}
@media only screen and (max-width: 767px) {
    .footer-item-one{
        display: block !important;
        text-align: center;
    }
    .footer-main-img{
        width: 75%;
    }
    .f-title{
        text-align: center;
    }
    .footer-link-socials{
        gap: 20px;
    }
    .footer-link-socials p{
        font-size: 14px;
        text-align: left;
    }
    .change-content span{
        display: none;
    }
    .change-content:after{
        content: 'Terms';
    }
}