.signup-container{
    position: relative;
    min-height: 100%;
    color: #292929;
    /* background-color: red; */
}

.signup-left-img{
    position: absolute;
    top: 0px;
    left: 0;
    width: 54%;
    /* -o-object-fit: cover; */
       /* -o-object-fit: contain; */
          /* object-fit: contain; */
}

.signup-left-img-mobile{
    display: none;

}

.signup-btm-right-img{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 15%;
}

.signup-content-wrapper{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
}

.right-input-wrapper{
    padding:50px 100px;
}

.right-input-fields-wrapper{
    padding: 50px;
    
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 6px 12px rgba(106, 82, 253, 0.25);
    border-radius: 29.8639px;

}

.signup-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-input-container .signup-heading-container{
    margin-bottom: 40px;
    text-align: center;
}

.signup-input-container .signup-heading-one{
    font-weight: bold;
    font-size: 24px;
}

.signup-input-container .signup-heading-two{    
    font-size: 14px;
}

.signup-input-container .input-option-tab > div:nth-child(2){
    /* padding: 20px 80px; */
    border-radius: 10px;
}

.signup-input-container .input-option-tab .signup-tab-active,.em-selected{
    background-color: #EAEAEA;
}

.signup-input-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.signup-input-form{
    display: flex;
    flex-direction: column;
}

.signup-input-wrapper label{
    margin-bottom: 10px;
    font-weight: 500;
}

.signup-input-wrapper .field{
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px 40px;
    /* min-width: 400px; */
    width: 100%;
    background-color: #F6F4FF;
}
 .signup-input-wrapper .input-error{
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px 40px;
    /* min-width: 400px; */
    width: 100%;
    background-color: #F6F4FF;
    border: 1px solid tomato;
}

.forgot-pword{
    align-self: center;
    color: #333333;
    margin-bottom: 50px;
}

.signup-input-form button{
    background-color: #7B61FF;
    border-radius: 50px;
    border: 1px solid #7B61FF;
    padding: 19px;
    color: #fff;
    outline: none;
    margin-bottom: 18px;
    width: 90%;
    /* align-self: center; */
}


.ext-link-wrapper{
    text-align: center;
}

.ext-link-wrapper div:nth-child(2){
    color: #6A52FD;
}


.signup-checkbox-wrapper {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.signup-checkbox-wrapper > input{
    margin-right: 10px;
}